.top-bar, .topbar-center-logo {
    /* margin-bottom: 200px; */
    display: flex;    
    width: 100vw;
    /* justify-content: space-evenly; */
}
.title-bar {
    min-width: 100vw;
}
body {
    display:flex;
    flex-direction: column;
    background: url(https://d19m59y37dris4.cloudfront.net/places/1-1-4/img/hero-bg.jpg);
    align-items: center;
    /* justify-content: space-around; */
}

.flex-container{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    /* flex-basis: 10%; */
    /* flex-shrink: 1; */
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
    max-width: 60%;
    /* background: #d4d4d4; */
    /* background: #0a0a0a; */
}

.favorites-cell {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-evenly;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    background: lightgray;
    margin: 20px;
    max-width: 200px;
    /* margin-bottom: 20px; */
}

.flex-pic-center {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.flex-card-image {
    min-width: 150px;
    height: 150px;
    border-radius: 10px;
}
.favorites-details-column {
    display: flex;
    flex-direction: column;
    flex-basis: 55%;
    align-items: center;
    align-content: space-between;
}

.flex-card-rating {
    background-color: rgb(228, 248, 95);
    display:flex;
    border-radius: 50%;
    padding: 15px;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 110px;
    width: fit-content;
}

.flex-card-title {
    padding-top: 10px;
    text-align: center;
}

.flex-p {
    display: flex;
    flex-direction: column;
    justify-items: space-around;
}

.flex-card {
    height: 90%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.hover{
    border: 3px solid #3ADB76;
}

#NoResult {
    padding-top: 18%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    font-size: 16px;
    text-align: center;
    height: 3.5%;
    padding-top: 3.5px;
    font-weight: 500;
    font-family: 'Trebuchet MS';
  }

  #modalCuisine, #modalRatingText {
      font-size: 16px;
  }

  .text-center {
    text-align: center;
  }

  #icon-img {
      text-align: center;
  }