
*, ::after, ::before {
  box-sizing: border-box;
}


header {
  background-color: #ffffff;
  height: 50px;
}
/*
.logo {
  padding-top: 20px;
}
.topbar-center-logo .top-bar-center {
  flex: 1 0 auto;
}
.selected{
  border: 1px solid #888;
  background-color: lightblue;
}
li {
  color: gray;
  font-size: large;
  padding:0px;
  border: 1px solid lightgrey;
  height: 100px;
  text-align: center;
  padding-top: 10px;
  font-family:'Segoe UI';
  background-color: white;
  overflow: hidden;
}
ul { 
  list-style-type: none;
  list-style-position:inside;
  margin-top: 20px;
  padding:0;
  border-bottom: 1px solid lightgrey;
}
.topbar-center-logo-mobile {
  
  .menu-icon {
    vertical-align: text-top;
  }
}

section {
  padding: 10px;
  height: 100%;
  /*https://d19m59y37dris4.cloudfront.net/places/1-1-3/img/hero-bg.jpg') no-repeat;
 
  width: 100%;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  
}
.text-hero {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text-primary {
  color: #4dcb44 !important;
}
p .text-hero {
  font-weight: 300;
}
.search-bar {
  border-radius: 100px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  padding-top: 15px;
  margin-top: 30px;
  padding-left: 30px;
}
.mr-1, .mx-1 {
  margin-right: .25rem!important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
section h1 {
  margin-bottom: .5rem;
  font-family: "Vidaloka",serif;
  font-weight: 500;
  line-height: 1.1;
  color: black;
}
.backgroundblue {
  background-color: rebeccapurple;
}
.search-bar input , select  {
  border: none;
  height: 50px;
  border-radius: 20px;
  border-color:  #fff;
}
.search-bar button {
  height: 50px;
  width: 100px;
}
.top-listings {
    padding-top: 30px;
}
section {
  padding: 0px;
  margin: 0px;
}

*/

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.searchbar {
  background-color: lightgray;
  border-radius: 20px;
  border: gray solid 1px;
  padding: 10px;
  margin: 10px;
}
section h1 , .text-hero {
  color: whitesmoke;
}
.text-primary {
  color: green;
}


.card {
  width: 300px;
  height: 200px;
  overflow: hidden;
}
.card-info {
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 2.5rem;
  grid-template-columns: 3fr 1fr;
}

.card-title {
  font-size: 2rem;
  width: 100%;
  max-height: 50px;
  font-size: 18px;
  font-style: normal;
  font-family: 'Trebuchet MS';
  text-align: center;
  font-size-adjust: initial;
}
.card-image{
  width: 200px;
  height: 100px;
  overflow: hidden;
}
.card-rating {
  background-color: LightBlue;
  border-radius: 100%;
  padding:10px;
  justify-items: center;
  align-items: center;
  padding-top: 5px;

}

.card-cuisine {
  
  font-style: italic;
  text-align: center;
  font-family: 'Times New Roman';
  color: gray;
  padding-bottom: 5px;

  width: 100%;
  font-style: normal;
  font-family: 'Trebuchet MS';
  text-align: center;
  font-size-adjust: initial;
}

.card-stats {
  align-self: bottom;
  text-align: center;


}
.card-dist {
  background-color: lightgray;
  text-align: center;
  border: blue;
  padding-top: 5px;

  padding-bottom: 5px;


}
